# Disable clang-tidy checks for 3rd party libaries
# We generate a dummy .clang-tidy file in the binary directory that disables
# all clang-tidy checks except one that will never match.  This one check is
# necessary; clang-tidy reports an error when no checks are enabled.

---
Checks: '-*,llvm-twine-local'
...
